.column {
    padding: 15px 20px ;
    /* margin: 0 0 0 1px; */
}
.card{
    overflow: hidden;
    text-align: center;
    width: 30vw;
    height: 45vh;
    cursor: pointer;
    border-radius: 7px;
    /* background: chocolate; */
}
.card .img {
    min-width: 27vw;
    min-height: 34vh;
    max-height: 34vh;
}